.service-icon {
	display: inline-block;
	vertical-align: middle;
	height: 14px;
	width: 14px;
	background-repeat:no-repeat;
	margin: 0 1px 3px 1px;
}

.iconrollingweekok {
	background-image: url('data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAACXBIWXMAAAsSAAALEgHS3X78AAAABGdBTUEAALGOfPtRkwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAABj0lEQVR42mL8//8/AzkAIIBYQAQjIyNCxIIhAUjGA7EBVOQCEC9kOMGwAKYEZBlAADGCCZBGCwYBoNh+XV0dAx1bLQZBOX6Gb7+/Mdy9eY/h7on7DM/uvAAZ4Ag04ANID0AAIWs8HxoebCBkKsBw7909hq8/vjF8+/kNTP/++5vhx7WfDC9OvbwA1GgI0gMQQEww54FswqYJRH/4+pHhs/QXBi5JTgOoVxgAAgiskZmFIV7HVhOrpq9A/O3HdyD/K8Nv2d9gtSA9AAEE1sjCxmDAL8eHU9OvP7/ADvsn+B+sFsQGCCCIjWwMDN/+4NcEAn+Z/oLVggBAAEFsZGe48PDePbyawBZ8hqgFsQECCGbjwufXH4BDD5cmEOD4BFELYgMEEDw6RKMZzvOqiBq85PwK1oxNE+8Lhguvl0KiAyCAmODOYGFw/P7o9QXBF/8YeH4yM7AwQKTYfzIwCLxlYBB8x3ABpAamHiCAEAkACmTSGBKA3HgGRmiS+89wAahk4ZNZqEkOIIAYyU3kAAEGAHAU7MEp7AxyAAAAAElFTkSuQmCC');
}

.iconrollingweekfail {
	background-image: url('data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAACXBIWXMAAAsSAAALEgHS3X78AAAABGdBTUEAALGOfPtRkwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAABZElEQVR42mL8//8/AzkAIIBYQAQjIyOYM5OBQQFI1QNxABALQNV8AOINQNyYzsDwACQAsgwggBjBBFAjUJMBUGy/cXqMgJquCAPv75cMDN+/M3x+/ZXh1vlnDGcPXAUZ4AjUfAGkByCAwBpnMTKCbDofvKhXQPjlPgaGzx+Bmn5C8A8Q/Yvh7ScWhrWbb4M0G6b9//8AIICYoM6pB9kE1vQJXRMI/2AQ/vuOwViFWwDqFQaAAIJpDAA5D0UTCH9DZv9gUOP9yQD1PwNAALFANQpA/PQDaMsvLDZCMC/jHwZYoAEEEAs8fL99gyrGofH3H5ToAAggmFM/fH79De4fDKdCNf36C48eBoAAgmnccOvCM5TAgNuIZNPNtxC1IAIggGAaG0Hx9PYzG6ozkTS9/c7AcO452LZGEB8ggDATADDI1Xh+MPAy/YU7D2QTSNPPv4gEABBAcI2kJjmAAGIkN5EDBBgAPxTdqzesF6IAAAAASUVORK5CYII=');
}

.iconrollingweekdisabled {
	background-image: url('data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB90MBAkgOJqxeLQAAAEcSURBVCjPndIxboMwFMbxvyuY4wsg5wjtEboxgJSj5AZRbhQp3ruwt9zAG8qA5AEJkO24QwEFlXbIm/3T+57fEzFGnqkEQAgBQFEUe+AEHAA5vbHABThrrQ1AjBERY0QIQVEUr8BHnucyyzKcczjn6LoOYwx1XVvgXWv9tcCyLPfA5/F4lLfbjWEYCCHgvSeEQAiBYRioqsoCb9fr1bxMcU55nm8i7z3ee4QQKKXkNAozPGRZtokesZSSaf6fzwGkc24VbQsnScL8aXNHnHP/ovv9vlrHDG3XdUukv1AIYV7PAi/GmNU8W53atmXa6QLPdV3bcRxX+BH1fU/TNBY4A78PQCkld7sdaZou8dq2pWka671fH8DTJ/dMfQMsSyS05O1IEAAAAABJRU5ErkJggg==');
}

.incidents-info {
	width: 100%;
}

.rolling-week-status {
	font-size: 16px;
	font-weight: bold;
	float: right;
}

.rsm-date-time {
	float: right;
}

.first-row-element {
	width: 300px;
	display: inline-block;
}
