[paths]
source_dir=
build_dir=
logs_dir=
db_dumps_dir=

[zabbix_server]
socket_dir=
pid_file=
db_host=localhost
db_name=
db_username=
db_password=

[frontend]
url=
password=zabbix
username=Admin

[rsm-api]
url=
username_readonly=provisioning-api-readonly
password_readonly=password
username_readwrite=provisioning-api-readwrite
password_readwrite=password
