--
-- Zabbix
-- Copyright (C) 2001-2019 Zabbix SIA
--
-- This program is free software; you can redistribute it and/or modify
-- it under the terms of the GNU General Public License as published by
-- the Free Software Foundation; either version 2 of the License, or
-- (at your option) any later version.
--
-- This program is distributed in the hope that it will be useful,
-- but WITHOUT ANY WARRANTY; without even the implied warranty of
-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
-- GNU General Public License for more details.
--
-- You should have received a copy of the GNU General Public License
-- along with this program; if not, write to the Free Software
-- Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
--

TABLE |dashboard
FIELDS|dashboardid|name     |userid|private|
ROW   |1          |Dashboard|1     |0      |

TABLE |widget
FIELDS|widgetid|dashboardid|type        |name|x   |y   |width|height|view_mode|
ROW   |1       |1          |favgraphs   |    |0   |0   |4    |3     |0        |
ROW   |2       |1          |favscreens  |    |4   |0   |4    |3     |0        |
ROW   |3       |1          |favmaps     |    |8   |0   |4    |3     |0        |
ROW   |4       |1          |problems    |    |0   |3   |12   |6     |0        |
ROW   |5       |1          |web         |    |0   |9   |6    |4     |0        |
ROW   |6       |1          |discovery   |    |6   |9   |6    |4     |0        |
ROW   |7       |1          |problemhosts|    |12  |0   |12   |4     |0        |
ROW   |8       |1          |problemsbysv|    |12  |4   |12   |4     |0        |
ROW   |9       |1          |systeminfo  |    |12  |8   |12   |5     |0        |

TABLE |widget_field
FIELDS|widget_fieldid|widgetid|type|name           |value_int|value_str|value_groupid|value_hostid|value_itemid|value_graphid|value_sysmapid|
ROW   |1             |4       |0   |show_suppressed|1        |         |NULL         |NULL        |NULL        |NULL         |NULL          |
ROW   |2             |7       |0   |show_suppressed|1        |         |NULL         |NULL        |NULL        |NULL         |NULL          |
ROW   |3             |8       |0   |show_suppressed|1        |         |NULL         |NULL        |NULL        |NULL         |NULL          |

