TABLE|rsm_ip_version|id|ZBX_DATA
FIELD		|id		|t_serial	|	|NOT NULL	|0
FIELD		|name		|t_varchar(255)	|	|NOT NULL	|0

TABLE|rsm_ns_ip|id|0
FIELD		|id		|t_serial	|	|NOT NULL	|0
FIELD		|name		|t_varchar(255)	|	|NOT NULL	|ZBX_NODATA

TABLE|rsm_nsid|id|0
FIELD		|id		|t_serial	|	|NOT NULL	|0
FIELD		|name		|t_varchar(255)	|	|NOT NULL	|ZBX_NODATA

TABLE|rsm_ns_name|id|0
FIELD		|id		|t_serial	|	|NOT NULL	|0
FIELD		|name		|t_varchar(255)	|	|NOT NULL	|ZBX_NODATA

TABLE|rsm_probe|id|0
FIELD		|id		|t_serial	|	|NOT NULL	|0
FIELD		|name		|t_varchar(255)	|	|NOT NULL	|ZBX_NODATA

TABLE|rsm_service_category|id|ZBX_DATA
FIELD		|id		|t_serial	|	|NOT NULL	|0
FIELD		|name		|t_varchar(255)	|	|NOT NULL	|0

TABLE|rsm_status_map|id|ZBX_DATA
FIELD		|id		|t_serial	|	|NOT NULL	|0
FIELD		|name		|t_varchar(255)	|	|NOT NULL	|0

TABLE|rsm_test_type|id|ZBX_DATA
FIELD		|id		|t_serial	|	|NOT NULL	|0
FIELD		|name		|t_varchar(255)	|	|NOT NULL	|0

TABLE|rsm_tld|id|0
FIELD		|id		|t_serial	|	|NOT NULL	|0
FIELD		|name		|t_varchar(255)	|	|NOT NULL	|ZBX_NODATA

TABLE|rsm_tld_type|id|ZBX_DATA
FIELD		|id		|t_serial	|	|NOT NULL	|0
FIELD		|name		|t_varchar(255)	|	|NOT NULL	|0

TABLE|rsm_transport_protocol|id|ZBX_DATA
FIELD		|id		|t_serial	|	|NOT NULL	|0
FIELD		|name		|t_varchar(255)	|	|NOT NULL	|0

TABLE|rsm_target|id|0
FIELD		|id		|t_serial	|	|NOT NULL	|0
FIELD		|name		|t_varchar(255)	|	|NOT NULL	|ZBX_NODATA

TABLE|rsm_testedname|id|0
FIELD		|id		|t_serial	|	|NOT NULL	|0
FIELD		|name		|t_varchar(255)	|	|NOT NULL	|ZBX_NODATA

TABLE|lastvalue|itemid|0
FIELD		|itemid		|t_id		|		|NOT NULL	|0			|1|items	|itemid
FIELD		|clock		|t_time		|'0'		|NOT NULL	|0
FIELD		|value		|t_double	|'0.0000'	|NOT NULL	|0

TABLE|lastvalue_str|itemid|0
FIELD		|itemid		|t_id		|	|NOT NULL	|0			|1|items	|itemid
FIELD		|clock		|t_time		|'0'	|NOT NULL	|0
FIELD		|value		|t_varchar(255)	|''	|NOT NULL	|0

TABLE|sla_reports|hostid,year,month|0
FIELD		|hostid		|t_id		|	|NOT NULL	|0			|1|hosts	|hostid
FIELD		|year		|t_integer	|	|NOT NULL	|0
FIELD		|month		|t_integer	|	|NOT NULL	|0
FIELD		|report_xml	|t_text		|''	|NOT NULL	|0
FIELD		|report_json	|t_text		|''	|NOT NULL	|0

TABLE|rsmhost_dns_ns_log|itemid,clock|0
FIELD		|itemid		|t_id		|	|NOT NULL	|0			|1|items	|itemid
FIELD		|clock		|t_time		|	|NOT NULL	|0
FIELD		|action		|t_integer	|	|NOT NULL	|0

TABLE|provisioning_api_log|provisioning_api_logid|0
FIELD		|provisioning_api_logid		|t_id		|	|NOT NULL	|0
FIELD		|clock				|t_time		|	|NOT NULL	|0
FIELD		|user				|t_varchar(100)	|	|NOT NULL	|0
FIELD		|interface			|t_varchar(8)	|	|NOT NULL	|0
FIELD		|identifier			|t_varchar(255)	|	|NOT NULL	|0
FIELD		|operation			|t_varchar(6)	|	|NOT NULL	|0
FIELD		|object_type			|t_varchar(9)	|	|NOT NULL	|0
FIELD		|object_before			|t_text		|NULL	|NULL		|0
FIELD		|object_after			|t_text		|NULL	|NULL		|0
FIELD		|remote_addr			|t_varchar(45)	|	|NOT NULL	|0
FIELD		|x_forwarded_for		|t_varchar(255)	|	|NULL		|0
