/* General styles */
table.list-table {
	border-collapse: collapse;
	border: 1px solid var(--border-color);
}
table.list-table td {
	border: 1px solid var(--border-color);
}
a:hover {
	border-bottom-color: transparent !important;
}

/* Rolling week status page */
.service-icon {
	margin: 0 5px;
	height: 11px;
	width: 11px;
	border-radius: 50%;
	display: inline-block;
}
.iconrollingweekok {
	background-color: green;
}
.iconrollingweekfail {
	background-color: #ea3500;
}
.iconrollingweekdisabled {
	background-color: grey;
}
.iconrollingweeknodata {
	background-color: #c2be00;
}
.rolling-week-status {
	font-size: 16px;
	font-weight: bold;
	float: right;
}
.rolling-week-value {
	display: inline-block;
	text-align: right;
	width: 65px;
}
.rolling-week-graph {
	display: inline-block;
	width: 40px;
}
.rolling-week-search-label {
	font-style: italic;
	font-size: 8px;
}

/* Incidents page */
.incidents-info {
	width: 100%;
}
.rsm-date-time {
	float: right;
}

/* Test list */
.first-row-element {
	width: 300px;
	display: inline-block;
}

/* Icons */
.icon-eye {
	display: inline-block;
	vertical-align: middle;
	border-bottom: 1px solid transparent;
	background: url("icon-eye.svg") no-repeat 0 0;
	width: 24px;
	height: 24px;
}
